<div class="p-grid">
    <div class="p-col-12">

        <p-toast></p-toast>

        <div class="card">
            <p-table #dt [value]="photos" [columns]="cols" [rows]="10" [paginator]="true"
                     [(selection)]="selectedPhotos" [rowHover]="true" dataKey="id"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
                     sortField="id" sortOrder="1">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        <h5 class="p-m-0">Photos</h5>
                        <p-toolbar styleClass="p-mb-4">
                            <ng-template pTemplate="left">
                                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
                                <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedPhotos()" [disabled]="!selectedPhotos || !selectedPhotos.length"></button>
                            </ng-template>
                        </p-toolbar>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>Image</th>
                        <th>Image Thumbnail</th>
                        <th>Title</th>
                        <th>Date Created</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-photo let-index="rowIndex">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="photo"></p-tableCheckbox>
                        </td>
                        <td>
                            <img [src]="photo.previewImageSrc" alt="photo" width="100" class="p-shadow-4" />
                        </td>
                        <td>
                            <img [src]="photo.thumbnailImageSrc" alt="photo" width="100" class="p-shadow-4" />
                        </td>
                        <td>{{photo.title}}</td>
                        <td>{{photo.dateCreated | date: 'short': '': 'en'}}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editPhoto(photo)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletePhoto(photo)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="photoDialog" [style]="{width: '450px'}" header="Photo Details" [modal]="true" styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="p-field">
                    <label for="title">Title</label>
                    <input type="text" pInputText id="title" [(ngModel)]="photo.title" required autofocus />
                    <small class="p-invalid" *ngIf="submitted && !photo.title">Title is required.</small>
                </div>

                <div class="p-field">
                    <h5>Main Image Link</h5>
                    <p-fileUpload name="main-upload" (uploadHandler)="onUpload($event, 'main')"
                                  accept="image/*" maxFileSize="1000000" customUpload="true">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedMainFile">
                                <li>{{uploadedMainFile.name}} - {{uploadedMainFile.size}} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>

                <div class="p-field">
                    <h5>Thumbnail Image Link</h5>
                    <p-fileUpload name="thumbnail-upload" (uploadHandler)="onUpload($event, 'thumbnail')"
                                  accept="image/*" maxFileSize="1000000" customUpload="true">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedThumbnailFile">
                                <li>{{uploadedThumbnailFile.name}} - {{uploadedThumbnailFile.size}} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>

                <div class="p-field">
                    <label for="dateCreated">Date Created</label>
                    <p-calendar id="dateCreated" inputId="dateCreated" dateFormat="dd-mm-yy" [(ngModel)]="photo.dateCreated" required
                                showTime="true" hourFormat="24" appendTo="body"></p-calendar>
                    <small class="p-invalid" *ngIf="submitted && !photo.dateCreated">Date created is required.</small>

                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="savePhoto()"></button>
            </ng-template>
        </p-dialog>

        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
