<div *ngIf="chat.messages" class="card chat">
    <ul>
        <li *ngFor="let message of chat.messages">
            <div *ngIf="message.incoming === true" class="p-grid sender">
                <div class="p-col-fixed">
                    <img src="assets/layout/images/avatar-john.png" alt="babylon-layout" />
                </div>
                <div class="p-col">
                    <div *ngIf="!!message.body" class="chat-message">{{message.body}}</div>
                    <div *ngIf="!!message.media" class="chat-message">
                        <img height="200" width="200" [src]="message.media.src" [alt]="message.id"/>
                    </div>
                </div>
            </div>
            <div *ngIf="message.incoming === false" class="p-grid recipient">
                <div class="p-col">
                    <div *ngIf="!!message.body" class="chat-message">{{message.body}}</div>
                    <div *ngIf="!!message.media" class="chat-message">
                        <img height="200" width="200" [src]="message.media.src" [alt]="message.id"/>
                    </div>
                </div>
                <div class="p-col-fixed">
                    <img src="assets/layout/images/avatar-john.png" alt="babylon-layout" />
                </div>
            </div>
        </li>
    </ul>

    <div class="new-message">
        <div class="p-grid p-nogutter">
            <div class="p-col">
                <input type="text" placeholder="Write a message.." />
            </div>
            <div class="p-col-fixed">
                <p-button type="button" label="Send"></p-button>
            </div>
        </div>
    </div>
</div>
