<div class="p-grid">
    <div class="p-col-12">

        <p-toast></p-toast>

        <div class="card">
            <p-table #dt [value]="textMessages" [columns]="cols" [rows]="10" [paginator]="true"
                     [(selection)]="selectedTextMessages" [rowHover]="true" dataKey="id"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        <h5 class="p-m-0">{{type === 'whatsapp' ? 'WhatsApp Messages' : 'Text Messages'}}</h5>
                        <p-toolbar styleClass="p-mb-4">
                            <ng-template pTemplate="left">
                                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
                                <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedTextMessages()" [disabled]="!selectedTextMessages || !selectedTextMessages.length"></button>
                            </ng-template>
                        </p-toolbar>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>Name</th>
                        <th style="width: 20rem"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-text>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="text"></p-tableCheckbox>
                        </td>
                        <td>{{text.name}}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editTextMessage(text)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteTextMessage(text)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="textMessageDialog" [style]="{width: '450px'}" header="Text Message Details" [modal]="true" styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="p-field">
                    <label for="name">Name</label>
                    <input type="text" pInputText id="name" [(ngModel)]="textMessage.name" required autofocus />
                    <small class="p-invalid" *ngIf="submitted && !textMessage.name">Name is required.</small>
                </div>

                <div *ngFor="let message of textMessage.chat.messages; let i=index">
                    <div class="card">
                        <h4 class="p-text-bold">Message {{i+1}}
                            <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger" (click)="removeMessage(i)"></button>
                        </h4>
                        <div class="p-field">
                            <label for="message-body">Message Body</label>
                            <textarea id="message-body" pInputTextarea [(ngModel)]="message.body" required rows="3" cols="20"></textarea>
                        </div>

                        <div class="p-field">
                            <h5>Image Upload</h5>
                            <p-fileUpload name="image-upload" (uploadHandler)="onUpload($event, i)"
                                          accept="image/*" maxFileSize="100000000" customUpload="true">
                                <ng-template pTemplate="content">
                                    <ul *ngIf="uploadedFile">
                                        <li>{{uploadedFile.name}} - {{uploadedFile.size}} bytes</li>
                                    </ul>
                                </ng-template>
                            </p-fileUpload>
                        </div>

                        <div class="p-formgrid p-grid">
                            <div class="p-field p-col">
                                <label for="date-sent">Date Sent</label>
                                <p-calendar id="date-sent" inputId="date-sent" dateFormat="dd-mm-yy" [(ngModel)]="message.date" required
                                            showTime="true" hourFormat="24" appendTo="body"></p-calendar>
                                <small class="p-invalid" *ngIf="submitted && !message.date">Sent date is required.</small>
                            </div>
                            <div class="p-field p-col p-as-center">
                                <h6>Incoming?</h6>
                                <p-inputSwitch id="incoming" [(ngModel)]="message.incoming" required></p-inputSwitch>
                            </div>
                        </div>
                    </div>

                </div>
                <button class="p-button-rounded p-mb-3" pButton type="button" label="Add another message" (click)="addMessage()"></button>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveTextMessage()"></button>
            </ng-template>
        </p-dialog>

        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
