<div class="p-grid" *ngIf="!loading">

  <div class="p-col-3">
    <message-list [items]="items" [selection]="selection" (change)="onChange($event)"></message-list>
  </div>

  <div class="p-col-9">
    <div class="card widget-live-support">
      <h5>Live Support</h5>
      <ul>
        <li>
          <div class="p-grid">
            <div class="p-col-fixed">
              <img src="assets/layout/images/avatar-john.png" alt="babylon-layout" />
            </div>
            <div class="p-col">
              <div class="chat-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nam ac euismod justo, eget blandit purus.</div>
            </div>
          </div>
        </li>
        <li>
          <div class="p-grid">
            <div class="p-col">
              <div class="chat-message">Mauris malesuada quis risus ut consequat.
                Maecenas ornare nunc risus, pulvinar euismod mi pellentesque eget.</div>
            </div>
            <div class="p-col-fixed">
              <img src="assets/layout/images/avatar-julia.png" alt="babylon-layout" />
            </div>
          </div>
        </li>
        <li>
          <div class="p-grid">
            <div class="p-col-fixed">
              <img src="assets/layout/images/avatar-john.png" alt="babylon-layout" />
            </div>
            <div class="p-col">
              <div class="chat-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nam ac euismod justo, eget blandit purus.</div>
            </div>
          </div>
        </li>
      </ul>

      <div class="new-message">
        <div class="p-grid p-nogutter">
          <div class="p-col">
            <input type="text" placeholder="Write a message.." />
          </div>
          <div class="p-col-fixed">
            <p-button type="button" label="Send"></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
