<p-table [value]="gpsLocations" dataKey="id" sortField="id">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem"></th>
            <th>Address</th>
            <th>Location Date</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-location  let-expanded="expanded">
        <tr>
            <td>
                <button type="button" pButton pRipple [pRowToggler]="location" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td>{{location.address}}</td>
            <td>{{location.locationDate | date: 'short'}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-location>
        <tr>
            <td colspan="3">
                <div class="p-p-3">
                    <here-map [_apikey]="apiKey" [lat]="location.lat" [lng]="location.long" width="100%" height="200px"></here-map>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
