<p-table *ngIf="!loading" [columns]="cols" [value]="contacts" styleClass="p-datatable-responsive-demo" sortField="id">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        <span class="p-column-title">{{col.header}}</span>
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
</p-table>
