<div class="layout-footer">
    <div class="p-grid">
        <div class="p-col-6">
            <a href="/" class="logo-container">
                <img src="assets/layout/images/logo-black.png" alt="babylon-layout" />
            </a>
        </div>
        <div class="p-col-6 footer-icons">
            <a href="#">
                <i class="pi pi-home"></i>
            </a>
            <a href="#">
                <i class="pi pi-globe"></i>
            </a>
            <a href="#">
                <i class="pi pi-envelope"></i>
            </a>
        </div>
    </div>
</div>
