<div class="p-grid">
    <div class="p-col-12">

        <p-toast></p-toast>

        <div class="card">
            <p-table #dt [value]="contacts" [columns]="cols" [rows]="10" [paginator]="true"
                     [(selection)]="selectedContacts" [rowHover]="true" dataKey="id"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
                     (onRowReorder)="onReorder($event)" sortField="id" sortOrder="1">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        <h5 class="p-m-0">Contacts</h5>
                        <p-toolbar styleClass="p-mb-4">
                            <ng-template pTemplate="left">
                                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
                                <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedContacts()" [disabled]="!selectedContacts || !selectedContacts.length"></button>
                            </ng-template>
                        </p-toolbar>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:3rem"></th>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Last Called</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-contact let-index="rowIndex">
                    <tr [pReorderableRow]="index">
                        <td>
                            <span class="pi pi-bars" pReorderableRowHandle></span>
                        </td>
                        <td>
                            <p-tableCheckbox [value]="contact"></p-tableCheckbox>
                        </td>
                        <td>{{contact.name}}</td>
                        <td>{{contact.number}}</td>
                        <td>{{contact.lastCalled | date: 'd/M/yy, h:mm a'}}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editContact(contact)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteContact(contact)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="contactDialog" [style]="{width: '450px'}" header="Contact Details" [modal]="true" styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="p-field">
                    <label for="name">Name</label>
                    <input type="text" pInputText id="name" [(ngModel)]="contact.name" required autofocus />
                    <small class="p-invalid" *ngIf="submitted && !contact.name">Name is required.</small>
                </div>

                <div class="p-field">
                    <label for="number">Number</label>
                    <input type="text" pInputText id="number" [(ngModel)]="contact.number" required />
                    <small class="p-invalid" *ngIf="submitted && !contact.number">Number is required.</small>
                </div>

                <div class="p-field">
                    <label for="lastCalled">Last Called</label>
                    <p-calendar id="lastCalled" inputId="lastCalled" dateFormat="dd-mm-yy" [(ngModel)]="contact.lastCalled" required
                                showTime="true" hourFormat="24" appendTo="body"></p-calendar>
                    <small class="p-invalid" *ngIf="submitted && !contact.lastCalled">Last called date is required.</small>

                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveContact()"></button>
            </ng-template>
        </p-dialog>

        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
