<p-table [value]="calls" styleClass="p-datatable-gridlines" sortField="id">
    <ng-template pTemplate="colgroup">
        <colgroup>
            <col style="width:15%">
            <col style="width:15%">
            <col style="width:20%">
            <col style="width:10%">
            <col style="width:40%">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Date Called</th>
            <th>Call Type</th>
            <th>Call Record</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-call>
        <tr>
            <td>{{call.name}}</td>
            <td>{{call.number}}</td>
            <td>{{call.date | date: 'd/M/yy, h:mm a'}}</td>
            <td><h5>{{call.incoming ? 'Incoming' : 'Outgoing'}}</h5></td>
            <td>
                <audio-player [link]="call.audioLink"></audio-player>
            </td>
        </tr>
    </ng-template>
</p-table>

