<p-table [value]="calls" styleClass="p-datatable-gridlines" sortField="id">
    <ng-template pTemplate="colgroup">
        <colgroup>
            <col style="width:15%">
            <col style="width:15%">
            <col style="width:20%">
            <col style="width:10%">
            <col style="width:40%">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Date Called</th>
            <th>Call Type</th>
            <th>Call Record</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-call>
        <tr>
            <td>{{call.name}}</td>
            <td>{{call.number}}</td>
            <td>{{call.date | date: 'short'}}</td>
            <td><h5>{{call.incoming ? 'Incoming' : 'Outgoing'}}</h5></td>
            <td>
                <ngx-audio-player  *ngIf="!!call.audio && call.audio[0].link" [playlist]="call.audio" [displayTitle]="false" [displayPlaylist]="false"
                                  [displayVolumeControls]="false" [expanded]="false" [disablePositionSlider]="true">
                </ngx-audio-player>
            </td>
        </tr>
    </ng-template>
</p-table>

