$primaryColor: #FF9800;
$primaryTextColor:#ffffff;

$logoBgColor:#FFA726;
$topbarBgColor:#FF9800;
$topbarIconColor:#ffffff;
$topbarIconHoverBgColor:#FFB74D;
$lightMenuitemActiveTextColor:#FF9800;
$darkMenuitemActiveTextColor:#FF9800;
$horizontalMenuitemActiveBgColor:#FF9800;
$horizontalMenuitemActiveTextColor:#000000;
$badgeBgColor:#FF9800;
$badgeTextColor:#212121;

@import '../../sass/layout/_layout';
