$primaryColor: #9C27B0;
$primaryTextColor:#ffffff;

$logoBgColor:#AB47BC;
$topbarBgColor:#9C27B0;
$topbarIconColor:#ffffff;
$topbarIconHoverBgColor:#BA68C8;
$lightMenuitemActiveTextColor:#9C27B0;
$darkMenuitemActiveTextColor:#BA68C8;
$horizontalMenuitemActiveBgColor:#9C27B0;
$horizontalMenuitemActiveTextColor:#ffffff;
$badgeBgColor:#9C27B0;
$badgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
