$primaryColor: #CDDC39;
$primaryTextColor:#ffffff;

$logoBgColor:#D4E157;
$topbarBgColor:#CDDC39;
$topbarIconColor:#212121;
$topbarIconHoverBgColor:#DCE775;
$lightMenuitemActiveTextColor:#9E9D24;
$darkMenuitemActiveTextColor:#CDDC39;
$horizontalMenuitemActiveBgColor:#CDDC39;
$horizontalMenuitemActiveTextColor:#000000;
$badgeBgColor:#CDDC39;
$badgeTextColor:#212121;

@import '../../sass/layout/_layout';
