$primaryColor: #009688;
$primaryTextColor:#ffffff;

$logoBgColor:#26A69A;
$topbarBgColor:#009688;
$topbarIconColor:#ffffff;
$topbarIconHoverBgColor:#4DB6AC;
$lightMenuitemActiveTextColor:#009688;
$darkMenuitemActiveTextColor:#009688;
$horizontalMenuitemActiveBgColor:#009688;
$horizontalMenuitemActiveTextColor:#ffffff;
$badgeBgColor:#009688;
$badgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
