$primaryColor: #795548;
$primaryTextColor:#ffffff;

$logoBgColor:#8D6E63;
$topbarBgColor:#795548;
$topbarIconColor:#ffffff;
$topbarIconHoverBgColor:#A1887F;
$lightMenuitemActiveTextColor:#795548;
$darkMenuitemActiveTextColor:#A1887F;
$horizontalMenuitemActiveBgColor:#795548;
$horizontalMenuitemActiveTextColor:#ffffff;
$badgeBgColor:#795548;
$badgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
