$primaryColor: #FFEB3B;
$primaryTextColor:#212121;

$logoBgColor:#FFEE58;
$topbarBgColor:#FFEB3B;
$topbarIconColor:#212121;
$topbarIconHoverBgColor:#FFF176;
$lightMenuitemActiveTextColor:#FBC02D;
$darkMenuitemActiveTextColor:#FFEB3B;
$horizontalMenuitemActiveBgColor:#FFEB3B;
$horizontalMenuitemActiveTextColor:#000000;
$badgeBgColor:#FFEB3B;
$badgeTextColor:#212121;

@import '../../sass/layout/_layout';
