$primaryColor: #8BC34A;
$primaryTextColor:#ffffff;

$logoBgColor:#9CCC65;
$topbarBgColor:#8BC34A;
$topbarIconColor:#ffffff;
$topbarIconHoverBgColor:#AED581;
$lightMenuitemActiveTextColor:#8BC34A;
$darkMenuitemActiveTextColor:#8BC34A;
$horizontalMenuitemActiveBgColor:#8BC34A;
$horizontalMenuitemActiveTextColor:#ffffff;
$badgeBgColor:#8BC34A;
$badgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
