$primaryColor: #E91E63;
$primaryTextColor:#ffffff;

$logoBgColor:#EC407A;
$topbarBgColor:#E91E63;
$topbarIconColor:#ffffff;
$topbarIconHoverBgColor:#F06292;
$lightMenuitemActiveTextColor:#E91E63;
$darkMenuitemActiveTextColor:#E91E63;
$horizontalMenuitemActiveBgColor:#E91E63;
$horizontalMenuitemActiveTextColor:#ffffff;
$badgeBgColor:#E91E63;
$badgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
