$primaryColor: #FFC107;
$primaryTextColor:#000000;

$logoBgColor:#FFCA28;
$topbarBgColor:#FFC107;
$topbarIconColor:#ffffff;
$topbarIconHoverBgColor:#FFD54F;
$lightMenuitemActiveTextColor:#FFC107;
$darkMenuitemActiveTextColor:#FFC107;
$horizontalMenuitemActiveBgColor:#FFC107;
$horizontalMenuitemActiveTextColor:#ffffff;
$badgeBgColor:#FFC107;
$badgeTextColor:#212121;

@import '../../sass/layout/_layout';
