$primaryColor: #00BCD4;
$primaryTextColor:#ffffff;

$logoBgColor:#26C6DA;
$topbarBgColor:#00BCD4;
$topbarIconColor:#ffffff;
$topbarIconHoverBgColor:#4DD0E1;
$lightMenuitemActiveTextColor:#00BCD4;
$darkMenuitemActiveTextColor:#00BCD4;
$horizontalMenuitemActiveBgColor:#00BCD4;
$horizontalMenuitemActiveTextColor:#ffffff;
$badgeBgColor:#00BCD4;
$badgeTextColor:#212121;

@import '../../sass/layout/_layout';
