$primaryColor: #607D8B;
$primaryTextColor:#ffffff;

$logoBgColor:#78909C;
$topbarBgColor:#607D8B;
$topbarIconColor:#ffffff;
$topbarIconHoverBgColor:#90A4AE;
$lightMenuitemActiveTextColor:#689F38;
$darkMenuitemActiveTextColor:#8BC34A;
$horizontalMenuitemActiveBgColor:#607D8B;
$horizontalMenuitemActiveTextColor:#ffffff;
$badgeBgColor:#607D8B;
$badgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
