$primaryColor: #4CAF50;
$primaryTextColor:#ffffff;

$logoBgColor:#66BB6A;
$topbarBgColor:#4CAF50;
$topbarIconColor:#ffffff;
$topbarIconHoverBgColor:#81C784;
$lightMenuitemActiveTextColor:#4CAF50;
$darkMenuitemActiveTextColor:#4CAF50;
$horizontalMenuitemActiveBgColor:#4CAF50;
$horizontalMenuitemActiveTextColor:#ffffff;
$badgeBgColor:#4CAF50;
$badgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
