$primaryColor: #673AB7;
$primaryTextColor:#ffffff;

$logoBgColor:#7E57C2;
$topbarBgColor:#673AB7;
$topbarIconColor:#ffffff;
$topbarIconHoverBgColor:#9575CD;
$lightMenuitemActiveTextColor:#673AB7;
$darkMenuitemActiveTextColor:#9575CD;
$horizontalMenuitemActiveBgColor:#673AB7;
$horizontalMenuitemActiveTextColor:#ffffff;
$badgeBgColor:#673AB7;
$badgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
