$primaryColor: #3F51B5;
$primaryTextColor:#ffffff;

$logoBgColor:#5C6BC0;
$topbarBgColor:#3F51B5;
$topbarIconColor:#ffffff;
$topbarIconHoverBgColor:#7986CB;
$lightMenuitemActiveTextColor:#5C6BC0;
$darkMenuitemActiveTextColor:#5C6BC0;
$horizontalMenuitemActiveBgColor:#5C6BC0;
$horizontalMenuitemActiveTextColor:#ffffff;
$badgeBgColor:#3F51B5;
$badgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
